<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isAuthenticated">
  <a class="navbar-brand" href="#">Logo</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">
          <i class="bi bi-cart"></i> Produtos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/categories">
          <i class="bi bi-list-nested"></i> Categorias
        </a>
      </li>
    </ul>
    <div class="navbar">
      <div class="navbar-items">
        <div class="user-info" *ngIf="isAuthenticated">
          <span>{{ userEmail }}</span>
          <button (click)="logout()">Logout</button>
        </div>
      </div>
    </div>

  </div>
</nav>
