<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isAuthenticated">
  <div class="navbar-brand">
    <img src="../../../assets/logo.fw.png" alt="Logo" class="logo">
  </div>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">
          <i class="bi bi-cart-fill"></i> Produtos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/categories">
          <i class="bi bi-list-nested"></i> Categorias
        </a>
      </li>
    </ul>
    <div class="navbar">
      <div class="navbar-items">
        <div class="user-info" *ngIf="isAuthenticated">
          <span>{{ userEmail }}</span>
          <div>
            <button (click)="logout()" class="btn btn-primary">
              <i class="bi bi-box-arrow-right"></i> Logout
            </button>

          </div>

        </div>
      </div>
    </div>
  </div>
</nav>
