<div class="container">
  <h2>Produtos</h2>

  <!-- Botão para adicionar um novo produto -->
  <button (click)="toggleAddProduct()" class="btn btn-primary mb-3">Adicionar Produto</button>

  <!-- Lista de produtos -->
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let product of products">
      {{ product.name }} - R$ {{ product.price }}

      <button class="btn btn-link" (click)="onProductSelect(product)">Detalhes</button>
      <button class="btn btn-link" (click)="onDeleteProduct(product)">Excluir</button>
    </li>
  </ul>

  <!-- Componente para adicionar um produto -->
  <app-product-add *ngIf="showAddProduct" (cancelAddEvent)="toggleAddProduct()"></app-product-add>

</div>
