<div class="container">
  <h2>Adicionar Produto</h2>

  <form (ngSubmit)="addProduct()">
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="product.name" name="name" required>
    </div>

    <div class="form-group">
      <label for="price">Preço</label>
      <input type="number" class="form-control" id="price" [(ngModel)]="product.price" name="price" required>
    </div>

    <div class="form-group">
      <label for="category">Categoria</label>
      <select class="form-control" id="category" [(ngModel)]="product.category_id" name="category" required>
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Adicionar</button>
    <button type="button" class="btn btn-secondary" (click)="cancelAdd()">Cancelar</button>
  </form>
</div>
