<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Adicionar produto</h5>

      <form (ngSubmit)="addProduct()">
        <div class="form-group">
          <label for="productName">Nome do produto</label>
          <input type="text" [(ngModel)]="product.name" name="productName" class="form-control" id="productName">
        </div>

        <div class="form-group">
          <label for="productPrice">Preço do produto</label>
          <input type="number" [(ngModel)]="product.price" name="productPrice" class="form-control" id="productPrice">
        </div>

        <div class="form-group">
          <label for="productCategory">Categoria do produto</label>
          <select class="form-control" id="productCategory" [(ngModel)]="product.category_id" name="productCategory">
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary"><i class="bi bi-check-circle"></i> Adicionar</button>
        <button type="button" (click)="cancelAdd()" class="btn btn-secondary"><i class="bi bi-x-circle"></i> Cancelar</button>
      </form>

      <p *ngIf="successMessage" class="alert alert-success mt-3">{{successMessage}}</p>
    </div>
  </div>
</div>
