.home {
  text-align: center;
  padding: 50px;

  h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    li {
      margin-right: 10px;

      a {
        color: #000;
        font-size: 34px;
        transition: color 0.3s;

        &:hover {
          color: #007bff;
        }
      }
    }
  }
}
