<section class="home">
  <div class="container">
    <h1></h1>
    <p>Me chamo Rafael de Souza. Aproveitei este espaço para me apresentar e me promover.</p>
    <p>Tenho bastante interesse em fazer parte da sua equipe. Sou autodidata, com experiência em diversas linguagens, desde Angular e Python até mesmo ActionScript. Quis demonstrar minha capacidade de utilizar linguagens distintas, então criei o backend em PHP, utilizando o banco de dados MySQL como requisito, e também utilizei Angular no frontend.</p>
    <p>No PHP, desenvolvi um backend para este projeto.</p>
    <p>Conheça meu trabalho:</p>

    <ul class="social-icons">
      <li><a href="https://github.com/rafasdiass"><i class="bi bi-github"></i></a></li>
      <li><a href="https://www.linkedin.com/in/rdrafaeldias/"><i class="bi bi-linkedin"></i></a></li>
      <li><a href="https://api.whatsapp.com/send?phone=85994448858"><i class="bi bi-whatsapp"></i></a></li>
    </ul>
  </div>
</section>
