<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Detalhes do Produto</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Preço</th>
            <th scope="col">Categoria</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products; index as i">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ product.name }}</td>
            <td>R$ {{ product.price }}</td>
            <td>
              <span *ngFor="let category of categories">
                <span *ngIf="category.id === product.category_id">{{ category.name }}</span>
              </span>
            </td>
            <td>
              <button class="btn btn-primary" (click)="onProductSelect(product)">
                <i class="bi bi-eye"></i>
              </button>
              <button class="btn btn-danger" (click)="onDeleteProduct(product)">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Modal for product deletion confirmation -->
    <div class="modal" tabindex="-1" [class.show]="productToDelete">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirmar Exclusão</h5>
            <button type="button" class="btn-close" (click)="onCancelDelete()"></button>
          </div>
          <div class="modal-body">
            <p>Você tem certeza que deseja deletar o produto {{productToDelete?.name}}?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="onCancelDelete()">Cancelar</button>
            <button type="button" class="btn btn-danger" *ngIf="productToDelete" (click)="onConfirmDelete(productToDelete.id)">Deletar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
