<div class="card">
  <div class="card-body">
    <div class="card-logo">
      <img src="../../../assets/logo.fw.png" alt="Logo" class="logo">
    </div>
    <h5 class="card-title">Login</h5>

        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="needs-validation" novalidate>

      <div class="form-group">
        <label for="email">
          <i class="bi bi-person-fill"></i> Email
        </label>
        <input id="email" type="text" formControlName="email" class="form-control" placeholder="Enter email" required>
        <div class="invalid-feedback">
          Please enter your email.
        </div>
      </div>

      <div class="form-group">
        <label for="password">
          <i class="bi bi-lock-fill"></i> Password
        </label>
        <input id="password" type="password" formControlName="password" class="form-control" placeholder="Password" required>
        <div class="invalid-feedback">
          Please enter your password.
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Login</button>

      <!-- Display error message if authentication fails -->
      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>

    </form>

  </div>
</div>
